{%extends 'admin/ad_base.html'%}
{%load static%}
{%block content%}


<style>
  .Search {
    margin-top: 4%;
    float: right;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 2;

  }
  .col-md-4{
    margin-bottom: 30px;
  }
  .col-md-8{
    margin-bottom: 30px;
  }
</style>


<div class="row " style="background-color: black;">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293 ;">View Clint Details</div>
</div>
<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <fieldset>
           
            <div class="row pt-1">
              <div class="col-md-4">
                <div class="mr-2 ml-3 mt-2" style="color:white ;">Client Name:</div>
              </div>
              <div class="col-md-2">
                <div class="mr-2 ml-3 mt-2" style="color:white ;">:</div>
              </div>
              <div class="col-md-6 ">
                
                <div class="mr-2 ml-3 mt-2" style="color:white ;">Infox Technologies</div>
              </div>
            </div>
            <div class="row pt-1">
              <div class="col-md-4">
                <div class=" mr-2 ml-3 mt-2" style="color:white ;">Address</div>
              </div>
              <div class="col-md-2">
                <div class="mr-2 ml-3 mt-2" style="color:white ;">:</div>
              </div>
              <div class="col-md-6 ">
                <div class="mr-2 ml-3 mt-2" style="color:white ;">Infox Technologies,Infoparck Campus, Ground Floor Carnivel Infoparck, Kakkanadu, Kochi, Kerala, 6823121</div>
                
              </div>
            </div>
            <div class="row pt-1">
              <div class="col-md-4">
                <div class="mr-2 ml-3 mt-2" style="color:white ;">Mail Id </div>
              </div>
              <div class="col-md-2">
                <div class="mr-2 ml-3 mt-2" style="color:white ;">:</div>
              </div>
              <div class="col-md-6 ">
                <div class="mr-2 ml-3 mt-2" style="color:white ;">saijusunny1301@gmail.com</div>
                
              </div>
            </div>
          </fieldset>
          <div class="row pt-1">
            <div class="col-md-4">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">Business Name</div>
            </div>
            <div class="col-md-2">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">:</div>
            </div>
            <div class="col-md-6 ">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">Infox Technologies</div>
            </div>
          </div>
          <div class="row pt-1">
            <div class="col-md-4">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">Website URL</div>
            </div>
            <div class="col-md-2">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">:</div>
            </div>
            <div class="col-md-6 ">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">www.infoxtechnologies.com</div>
            </div>
          </div>
          <div class="row pt-1">
            <div class="col-md-4">
              <div class=" mr-2 ml-3 mt-2 text-light" style="color:white ;">Location</div>
            </div>
            <div class="col-md-2">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">:</div>
            </div>
            <div class="col-md-6 ">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">Kakkanadu, Kochi, 682312</div>
           
            </div>
          </div>
          
          <div class="row pt-1">
            
            <div class="col-md-4 ">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">Attach Files</div>
            </div>
            <div class="col-md-2">
              <div class="mr-2 ml-3 mt-2" style="color:white ;">:</div>
            </div>
            <div class="col-md-6 "style="margin-left: -150px;">
              
              <button type="submit" name="submit" id="alert2" class="btn-primary Search" >Download Attach File</button>
            </div>
          </div>

          <div class="row pt-1">
            
            <div class="col-md-4 ">
              
                
                <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">SEO</label>
              
            </div>
            <div class="col-md-8 ">
              <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis iste omnis repudiandae blanditiis, voluptatibus vitae beatae, ab, doloribus rem ad! Qui provident esse, minus blanditiis quas adipisci eveniet facere.
                <button type="submit" name="submit" id="alert2" class="btn-primary Search">Download Attach File</button>
  
              </div>
                
            </div>
            

            <div class="col-md-4 ">
         
              <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">SMM</label>
            </div>
            <div class="col-md-8 ">
              <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis iste omnis repudiandae blanditiis, voluptatibus vitae beatae, ab, doloribus rem ad! Qui provident esse, minus blanditiis quas adipisci eveniet facere.
                <button type="submit" name="submit" id="alert2" class="btn-primary Search">Download Attach File</button>
  
              </div>
                
            </div>
              
            <div class="col-md-4 ">
           
              <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">SEM/PPC</label>
            </div>
            <div class="col-md-8 ">
              <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis iste omnis repudiandae blanditiis, voluptatibus vitae beatae, ab, doloribus rem ad! Qui provident esse, minus blanditiis quas adipisci eveniet facere.
                <button type="submit" name="submit" id="alert2" class="btn-primary Search">Download Attach File</button>
  
              </div>
                
            </div>

            <div class="col-md-4 ">
        
              <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Email Marketing</label>
            </div>
            <div class="col-md-8 ">
              <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis iste omnis repudiandae blanditiis, voluptatibus vitae beatae, ab, doloribus rem ad! Qui provident esse, minus blanditiis quas adipisci eveniet facere.
                <button type="submit" name="submit" id="alert2" class="btn-primary Search">Download Attach File</button>
  
              </div>
                
            </div>

            
            <div class="col-md-4 ">
             
              <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Content Marketing</label>
            </div>
            <div class="col-md-8 ">
              <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis iste omnis repudiandae blanditiis, voluptatibus vitae beatae, ab, doloribus rem ad! Qui provident esse, minus blanditiis quas adipisci eveniet facere.
                <button type="submit" name="submit" id="alert2" class="btn-primary Search">Download Attach File</button>
  
              </div>
                
            </div>


            <div class="col-md-4 ">
              
              <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Affiliate Marketing</label>
            </div>
            <div class="col-md-8 ">
              <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis iste omnis repudiandae blanditiis, voluptatibus vitae beatae, ab, doloribus rem ad! Qui provident esse, minus blanditiis quas adipisci eveniet facere.
                <button type="submit" name="submit" id="alert2" class="btn-primary Search">Download Attach File</button>
  
              </div>
                
            </div>
              
            <div class="col-md-4 ">
            
              <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Mobile marketing</label>
            </div>
            <div class="col-md-8 ">
              <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis iste omnis repudiandae blanditiis, voluptatibus vitae beatae, ab, doloribus rem ad! Qui provident esse, minus blanditiis quas adipisci eveniet facere.
                <button type="submit" name="submit" id="alert2" class="btn-primary Search">Download Attach File</button>
  
              </div>
                
            </div>

            <div class="col-md-4 ">
             
              <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Video Marketing</label>
            </div>
            <div class="col-md-8 ">
              <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nobis iste omnis repudiandae blanditiis, voluptatibus vitae beatae, ab, doloribus rem ad! Qui provident esse, minus blanditiis quas adipisci eveniet facere.
                <button type="submit" name="submit" id="alert2" class="btn-primary Search">Download Attach File</button>
  
              </div>
                
            </div>
           
            </div>
            
          </div>
          

          
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="rowmt-5 modal fade" id="view_requir">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">Details</div>

          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 

            <div class="row mt-5">
              
              <div class="col-md-12 ">
                <textarea name="smm_txt" id="smm_txt" class="drop form-control ml-3 mt-2 text-light" required
                style="border:1px solid #6C7293 ;height:70px;"  ></textarea>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function add_requ_det(){
        
    }
</script>

<script>
  $(document).ready(function () {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script type="text/javascript">
  function setselected(id) {
    $('input[name="selected"]').val(id);
  }
</script>

{% endblock %}