{%extends 'admin/ad_base.html'%}
{%load static%}
{%block content%}


<div class="row pt-3" style="background-color: black;">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">AUDIT REPORT</div>
</div>
<div class="row mt-4 ">
      <div class="card">
          <div class="card-body">

            <div class="row ">
              <div class="col-sm-4">
                <h4 class="mb-1">Executive Name</h4>
              </div>
              <div class="col-sm-2">
                <h4 class="text-muted mb-0 mx-5">:</h4>
              </div>
              <div class="col-sm-6">
                <h4 class="text-muted mb-0 mx-5">Executive</h4>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <h4 class="mb-1">Start Date</h4>
              </div>
              <div class="col-sm-2">
                <h4 class="text-muted mb-0 mx-5">:</h4>
              </div>
              <div class="col-sm-6">
                <h4 class="text-muted mb-0 mx-5">20-03-2023</h4>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <h4 class="mb-1">End Date</h4>
              </div>
              <div class="col-sm-2">
                <h4 class="text-muted mb-0 mx-5">:</h4>
              </div>
              <div class="col-sm-6">
                <h4 class="text-muted mb-0 mx-5">20-03-2023</h4>
              </div>
            </div>
            
           
          </div>
                  <div class="row mt-5">
                  <object data="{% static 'example.pdf' %}" type="application/pdf" width="500" height="600">
                  </object>
                </div>
          </div>
      </div>
      <div class="row pt-3 mt-5" style="background-color: black;">
        <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">GRAPHICAL STATISTICAL VIEW</div>
      </div>
      <div class="row mt-5">
        <div class="row mt-1">
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" style="color:white;">Pie chart</h4>
                <canvas id="pie-chart" style="height:200px"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" style="color:white;">Bar chart</h4>
                <canvas id="chart" style="height:200px"></canvas>
              </div>
            </div>
          </div>
        </div>
      
      
        
      </div>
  </div>
  

  <script>
    var config = {
      type: 'pie',
      data: {
        
        datasets: [{
          
          data: {{ data|safe }}
          backgroundColor: ['rgba(255, 99, 132, 0.5)','rgba(54, 162, 235, 0.5)','rgba(255, 206, 86, 0.5)'],
        }],
        
        labels: ['workperformance','Attitude','Creativity'],
        
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
</script>
<script>

let ctx = document.getElementById("chart").getContext("2d");
let chart = new Chart(ctx, {
type: "bar",
data: {
 labels: ['workperformance','Attitude','Creativity'],
 datasets: [
  {
    
    
    data: {{ data|safe }},
    
    
    backgroundColor: ['rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)'
    
    ],
    

  }
 ]
},
options: {   
    legend: {
    display: false
    }
   
    scales: {
      yAxes: [{
          ticks: {
              beginAtZero: true,
                max:100
          }
      }]
  }
    
    
}

});

</script>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../assets/vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="../../assets/js/chart.js"></script>
  <!-- End custom js for this page -->



{% endblock %}